input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body {
    font-family: 'Cabin', sans-serif;
    background-color:lightgrey;
    text-align:center;
    margin-top: 24vh;
  }
  table, td, th {
    border: 1px solid black;
    background: whitesmoke;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  tbody {
    border-radius: 2px;
  }
  #inputPeso, #inputAltura {
    width:30px;
    height:20px;
    border: none;
    background: none;
  }