input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
body {
    font-family: 'Cabin', sans-serif;
    background-color:lightgrey;
    text-align:center;
  }
  input {
    width:32px;
    height:20px;
  }